/*
Theme Name: Bootstrap 3.1.1 Starter Wordpress theme
Author: 3sparks llc
Author URI: http://3sparks.net/
Description: This is a blank bootstrap 3.1.1 theme for wordpress. Feel free to use this as a starter template for your projects.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*Wordpress editor styles start*/

.entry-content img {
	margin: 0 0 1.5em 0;
	}
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
	}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	/* not sure about this one */
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}

/*Wordpress editor styles end*/


/*Iconos*/

@font-face {
    font-family: 'diuconfont';
    src:    url('fonts/diuconfont.eot?shcpvn');
    src:    url('fonts/diuconfont.eot?shcpvn#iefix') format('embedded-opentype'),
        url('fonts/diuconfont.ttf?shcpvn') format('truetype'),
        url('fonts/diuconfont.woff?shcpvn') format('woff'),
        url('fonts/diuconfont.svg?shcpvn#diuconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'diuconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-shadow: 4px 2px 6px RGBA(0, 0, 0, 0.85);
}
.banner-singe [class^="icon-"], [class*=" icon-"] {
    text-shadow: none !important;
}
.icon-pinos:before {
    content: "\e905";
}
.icon-montanas:before {
    content: "\e906";
}
.icon-ski:before {
    content: "\e907";
}
.icon-avion:before {
    content: "\e908";
}
.icon-playa:before {
    content: "\e900";
}
.icon-cubiertos:before {
    content: "\e909";
}
.icon-colectivo:before {
    content: "\e901";
}
.icon-binoculares:before {
    content: "\e902";
}
.icon-caminata:before {
    content: "\e903";
}
.icon-barco:before {
    content: "\e904";
}
/*Iconos*/


@font-face {
    font-family: Panefresco400wtRegular;
    src: url(fonts/Panefresco400wtRegular.ttf);
}
@font-face {
    font-family: Panefresco750wtRegular;
    src: url(fonts/Panefresco750wtRegular.ttf);
}
@font-face {
	font-family: 'Open Sans', sans-serif;

}

body{
	font-family: 'Panefresco400wtRegular';
	padding: 0px !important;
	margin: 0px !important;
}


.texto-entrada h3{
	margin-top: 10px !important;
	margin-bottom: 5px !important;
	font-size: 20px;
}

.texto-entrada.precio{
	margin-bottom: 53px !important;
	font-size: 15px;
	width: -moz-max-content !important;
	right: unset !important ;
	bottom: 0px !important;

}
.precio-minimo span{
	color: yellow;
}
.precio-minimo{
	padding: 4px;
}



.imagenminiatura img{
	width: 100%;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#menu-header .menu-item a{
	margin: 0 auto;
	text-align: center;
}





.navbar-collapse.collapse.in .menu-item a{
	padding: padding: 1em 1em 1em 1em !important;
	
}


.navbar-toggle{
	position: absolute;
	margin-left: -90px;

}


.navbar{
	font-family: 'Panefresco750wtRegular';
	margin-bottom: 0px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.58);
	border: none;
	border-radius: 0px;
	top: 50;
	width: 100%;
	z-index: 9999;
	font-size: 14px;
}
.navbar a{
	color: white !important;

}
.navbar img{
	
}
.navbar-brand{
	height: auto;
	margin-right: 20px;
}


.entry-content img {
    margin: 0 0 0 0;
}
.entrada{
	margin: 0 0 1.5em 0;
	margin-top: 20px;
}

.navbar .active a{
	background-color: rgba(0, 0, 0, 0.27) !important;
	width: 100% !important;
}


/*HEADER*/

.nav.navbar-nav.navbar-left{
	text-transform: uppercase;
}
.navbar-toggle {
	padding: 15px 15px;
	margin-top: 23px;
	margin-right: 20px;
}


.header-info .fa{
	padding: 0px 5px 0px 15px;
	font-size: 1em;
}
.header-info{
	font-size: 1em;
	min-height: 50px;
	display: flex;
	background-color: #434343;
	color: white;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;
}
.header-info span{
	color: #11D8D6;
}
.menu-item li{
	padding: 0px;
}
.menu-item a{
	padding: 2.6em 0.8em 2.5em 0.8em !important;
}
.navbar-brand img{
	height:46px;
}
.navbar-nav {
    margin: 0px -17px;
}

.iconos .fa {font-size: 2em;}


.iconos a{
	text-decoration: none;
	vertical-align: center;
	
}
.iconos {
	padding-top: 30px;
}
.titulo-banner{
	position: absolute;
	top: 215px !important;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  	text-align: center;
  	z-index: 9999;
}
.titulo-banner h1{
	color: white;
  	font-size: 60px !important;
  	text-transform: uppercase;
  	z-index: 9999;
}
 #share-button{
 	cursor: pointer !important;
 }










.modal-header h4{
  text-align: center;
}

.modal-body{
  margin: 0 auto;
  text-align: center;
}

.modal-body .fa-facebook-square{
  color: #3a5795 ;
}

.modal-body .fa-whatsapp{
  color: #34af23 ;
}

.modal-body .fa-twitter-square{
  color: #00aced ;
}

.fa-share-alt-square{
  cursor: pointer;
}

.home .blog .logged-in .modal-open {
  padding-right: 0px;
}


.modal-body .fa {
	padding: 15px;
}

.banner-single .icon{
	padding: 10px;
	font-size: 50px;	
}




button.boton{
	margin-top: 20px;
	padding: 10px 20px;
	color: white;
	background-color: transparent;
	border: solid 3px white;
	border-radius: 5px;
	font-size: 20px;
}



button.boton:hover{
	background-color: rgba(9, 103, 198, 0.66);

}








/*HEADER*/


/*BANNER*/
.banner{
	height: 400px;
	top: 50;
	width: 100%;
	overflow: hidden;
  	background-repeat: no-repeat;
  	background-size: cover; 
  	background-position: center center;
}
.banner-overlay{
	background-color: #3389d7;
	height: 100%;
	width: 100%;
}

.banner img{
	min-height: 400px;
	    opacity: 0.30;

}
.banner .container-fluid{
	margin: 0px;
	padding: 0px;
}

.banner-single .banner-overlay{
	opacity: 0.70;
}
/*banner*/





/*PAQUETES*/




/*Iconos paquetes*/



.iconos-paquete{
	position: absolute;
		top: 10px;
	right: 30px;
	font-size: 2.3em;
	color: white;

}

.iconos-paquete ul li{
	list-style-type: none;
}

.iconos-paquete .icono-single{
	position: absolute;

}


/*Iconos paquetes*/






.paquetes .row {
	margin: 20px 0px;
}

.paquetes .texto-entrada{
	margin: 0 auto;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	background-color: RGBA(12, 12, 12, 0.8);
	width: 85%;
	position:absolute;
	left: 0px;
	right: 0px;
	bottom: 13px;
	color: white;
}
.paquetes .texto-entrada:link{
	text-decoration: none;	
}







div.gdl-package-grid2 div.package-ribbon-wrapper {
    bottom: auto;
    top: 22px;
}
div.package-ribbon-wrapper {
    position: absolute;
    left: 1px;
    top: 22px;
}

div.package-type {
    padding: 15px 22px;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
}
.package-type {
    background-color: #3389d7;
}
.package-type, .package-type a {
    color: #ffffff;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

div.package-type-gimmick {
    width: 0px;
    height: 0px;
    float: left;
    border-width: 8px 6px 8px 8px;
    border-style: solid;
    border-bottom-color: transparent;
    border-right-color: black;
    border-left-color: transparent;
}
.package-type-gimmick {
    border-top-color: #000000;
}


.texto-entrada {
	text-transform: uppercase;
}




/*paquetes*/



/*MERCADO PAGO*/
.mercado-pago{
	background-color: #372F2D;
	position: 50% 0;
	background-size: cover;
    background-attachment: fixed;
}
/*mercado pago*/




/*PAQUETES DESTACADOS*/

.paquetes-destacados .row {
	margin: 20px 0px;
}
.responsive-tabs .responsive-tabs__panel{
	border:none !important;
}
.responsive-tabs .responsive-tabs__list__item--active {
	border: none !important;
}






.paquetes-destacados .texto-entrada{
	margin: 0 auto;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	background-color: RGBA(12, 12, 12, 0.8);
	width: 80%;
	position:absolute;
	left: 0px;
	right: 0px;
	bottom: 13px;
	color: white;
}
.paquetes-destacados .texto-entrada:link{
	text-decoration: none;	
}


.paquetes-destacados .nav {
	margin-bottom: 25px ;
}

#search{
	background-color: transparent;
	border: none;
}


#form-buscador{
	width: -moz-max-content;
}
#form-buscador .buscador{
	width: -moz-fit-content;
	padding: 5px;
	border-radius: 5px;
}
.buscador{
	background-color: #B5B0AC;
	color: white;
}

.page-header .page-title{
	font-size: 30px;
}

.page-header .page-title span{
	text-transform: uppercase;
}

.no-results {
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
}

.archive-header{
	padding-top: 40px;
	padding-bottom: 40px;
}
.archive-header h1, .archive-header h3{
	text-transform: uppercase;
	
	text-align: center;
}
/*Paquetes destacados*/



#buscador .titulo-banner, #banner-pagina .titulo-banner{
	top: 249px !important;
}

.contenido-paginas{
	padding: 1.5em;
	font-size: 1.3em;
}

.contenido-paginas .promociones{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.promociones img{
	-webkit-transition: all 0.3s ease;
	-moz-transition:    all 0.3s ease;
	-o-transition:      all 0.3s ease;
	-ms-transition:     all 0.3s ease;
	transition:         all 0.3s ease; 
}


.overlay{
	background-color: #3389d7;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}


/*single*/

.single .titulo.text-center{
	margin-top: 30px;
}
.single .contenido{
	padding-top: 0px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.single .titulo.text-center{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 210px;
}
.entradasingle .contenido{
	font-family: 'Open Sans';
	font-size: 20px;
}


.responsive-tabs__list__item{
	font-family: 'Panefresco400wtRegular' !important;
	text-transform: uppercase !important;
}
.responsive-tabs .responsive-tabs__panel{
	font-family: 'Open Sans' !important;
	font-size: 15px;
}

.contenido pre{
	background-color: transparent !important;
	border: none;
}

pre code{
	white-space: normal !important;
}
.iconos-single{
	color: #568DCD;
	font-size: 40px;
	padding-top: 30px;

}

.iconos-single p {margin: 0;}
.consulta{
	padding: 20px !important;
	color: white;
	background-color: #568DCD;
	font-size: 26px;
	border-radius: 10px;
}
.consulta a:visited {color:white}
.iconos-single .col p{
	font-size: 20px;
}	

.consulta a:hover {text-decoration: none; color: rgba(240, 248, 255, 0.66);}

.iconos-single .col{
	border-right: solid 3px  #568DCD !important;
	height: 100%
}	
.iconos-single .col-3	{
	border-right: none !important;
}	

.responsive-tabs .responsive-tabs__panel {
	padding: 20px !important;
}
.responsive-tabs .responsive-tabs__list__item--active,
.responsive-tabs .responsive-tabs__panel{
	border-color: #568DCD !important;
}
.field-dato {
	font-size: 20px !important;
	color: #23282D !important;
}

/*single*/







/*FOOTER*/
/*footer*/





@media (min-width: 700px) {
	.titulo-banner h1{
	  	font-size: 5.5em !important;
	}
	.titulo-banner{
		top: 200px;
	}
}


@media (max-width: 992px) {
	.consulta{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}


@media (max-width: 1200px) {

	.paquetes .entry-content.postImage{
		max-height: 400px !important;
		overflow: hidden;
	}

}

@media (max-width: 767px) {	


	.navbar-brand img {
		margin: 0 auto;
	}
	a.navbar-brand{
		width: 100% !important;
	}
	.navbar-collapse{
		padding: 0px;

		margin: 0px;
		height: auto;
	}
	.iconos-single .col{
		border: none !important;
		padding: 0px !important;
		margin: 0px !important;
	}
	.consulta{

	}
	.navbar #menu-header{
		padding-top: 27px !important;
	}
	.nav.navbar-nav.navbar-left {
	    font-size: 20px;
	}
	.menu-item a {
	    padding: 0.8em 0.8em 0.8em 0.8em !important;
	}
	.iconos ul{
		text-align: center !important;
		margin: 0px !important;
		padding: 3px 0px 27px 0px !important;
		float: unset !important ;
	}

.banner-single .icon{
	padding-top: 25px !important;
}

}	

/*FOOTER*/

footer {background-color: #292929; color: #d7d7d7; padding-top: 20px;}
.footerculumna {margin-top: 20px;margin-bottom:40px;}
.footerculumna h4 {margin:0;padding:0;}
.footerculumna .fa {color:white;}

/*footer*/

/*CONTACTO*/

.contacto {background-color: #2e3653; width: 100%; padding-top: 20px; padding-bottom: 20px; font-size: 15px;}
.titulo-contacto{ color: white !important; text-transform: uppercase; margin-top: 20px; margin-bottom: 20px; }
textarea {resize: none; width: 100%; margin-bottom: 5px; margin-top: 5px; height: 115px; padding: 5px;  border-style: none;}
.limpiarpadding {padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;}
.limpiarpadding2 {padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 0px;}

.widthtotal input{width: 100%; margin-top: 5px; margin-bottom: 5px; padding: 5px; border-style: none;}
.medioscontacto {color: white; padding: 0; font-size: 15px;}
.medioscontacto .fa {color: white; }
.botonsend input {width: 100%; background: transparent none repeat scroll 0% 0%;
color: white;
border-style: inset;
border-color: white;}
.botonsend input:hover { background-color: #F4F4F4; }

@media (max-width: 768px) {
	.limpiarpadding2 {padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;}
	.medioscontacto {margin-bottom: 30px;}
}
.navbar-toggle {padding: 5px; margin-top: 35px !important;}
.paquetes-destacados .responsive-tabs .responsive-tabs__list__item {width: 12%; text-align: center;}

/* PAQUETES A LA VENTA */

.pasaje {
	
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #568ecd;
	color: #568ecd;
	text-transform: uppercase;
	font-family: 'Panefresco750wtRegular';
	margin-bottom: 10px;
	
}


.enlacepasaje {
	
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #568ecd;
	color: white;
	background-color:#568ecd;
	font-family: 'Panefresco750wtRegular';
	margin-bottom: 10px;
	

}

.enlacepasaje a {color:white;}
.titulocomprapaquetes {font-size: 30px;
font-family: "Panefresco750wtRegular";
text-align: center;
margin-bottom: 20px;
color: rgb(86, 142, 205);}
.paquetesalaventa {margin-bottom: 20px;}
.responsive-tabs__list__item--active {font-family: "Panefresco750wtRegular" !important;}
@media (max-width: 768px) {
	.limpiarpadding2 {padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;}
	.medioscontacto {margin-bottom: 30px;}
}

#menu-header a:hover {
    background-color: rgba(0, 0, 0, 0.27) !important;
}

 .contenido-paginas .texto{
	text-transform: uppercase;
	padding-bottom: 30px;
}
.texto h3 {text-transform: uppercase; font-size:15px;}

 .tab-style .row-paquetes{
	padding: 0px; margin:0px;
}

.tab-style .row-vermas{
	padding: 0px 15px; margin:0px; font-size: 20px;
}

.tab-style .row-vermas a{
	float: right;

}

.imagengaleria {margin-top: 10px; margin-bottom: 10px;}

/*Modificaciones 5 de julio*/



/*Agregar container-fluid en header*/

.responsive-tabs .responsive-tabs__heading {
	border: 1px solid #ccc !important;
	text-align: center;

}

.responsive-tabs .responsive-tabs__panel {
    padding: 0px !important;
    padding-bottom: 20px !important;
}


@media (max-width: 767px) {	
	.paquetes-destacados .entry-content{
	    max-height: 400px !important;
	    overflow: hidden;
	}
}	

.responsive-tabs .responsive-tabs__heading {
	padding-left: 0px !important;
}

.no-results h3 {margin-bottom:30px;}

.paquetes-destacados .texto-entrada {FONT-family: 'Panefresco400wtRegular';}

/*Modificaciones 5 de julio*/

.fotosentrada {padding: 0; margin-bottom: 40px;}
.compraonlineentrada {padding: 0; margin-bottom: 40px;}
